

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.btn-primary {
    background-color: #faae3b;
    border-color: #f9a11b;
}



a {
    color: #0eaa9d;
}










