

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




a {
    color: #0eaa9d !important;
}

a:hover, a:focus {
    color: #faae3b !important;
}

.btn-primary {
	color: #fff !important;
    background-color: #faae3b !important;
    border-color: #f9a11b !important;
}

.btn-primary:hover {
	color: #fff !important;
    background-color: #0eaa9d !important;
    border-color: #0eaa9d !important;
}






